{% extends 'base.html' %}


{% block body %}
<div class="container" style="display: flex;">
    <div style="width: 500px;margin-right: 20px;">
        <h1>Questions:</h1>
        
        {% for q in question %}
            <div class="card" style="padding: 10px;margin-bottom: 10px;">
                <div style="display: flex; justify-content: space-between;">
                    <h6>{{q.question}} </h6>
                    {% if user == q.author %}
                    <button class="btn btn-outline-info" style="width: 80px;"><a href="/delete_question/{{q.id}}/" style="text-decoration: none;">Delete</a></button>
                    {% endif %}
                </div>
                <p>Posted by {{q.author}} | {{q.timestamp}}</p>
                <button class="btn btn-outline-warning" style="width: 100px;"><a href="/discussion/{{q.id}}/" style="text-decoration: none;">Answer</a></button>
            </div>
        {% endfor %}
        
    </div>
    <div style="width: 500px;">
        <h1>Answers:</h1>
        
        {% for a in answer %}
        <div  class="card" style="padding: 10px;margin-bottom: 10px;">
            <div style="display: flex;justify-content: space-between;">
            <h6>{{a.answer}}</h6>
            <button class="btn btn-outline-warning" style="width: 80px;"><a href="/delete_answer/{{a.id}}/" style="text-decoration: none;">Delete</a></button>
            </div>
            <p>{{a.author}} | {{a.timestamp}} | Upvote:{{a.upvotes}}</p>
            <button class="btn btn-outline-primary" style="width: 100px;"><a href="/upvote/{{a.id}}/"style="text-decoration: none;">Upvote</a></button>
        </div>
        {% endfor %}
        
        
    </div>

</div>

{% endblock %}