{% extends 'base.html' %}

{% block body %}
    <div>
        <h1>POst Your Answer</h1><br>
        <form action="/discussion/{{question.id}}/" method="post" class="form-group">
            {% csrf_token %}
            <h6>{{question.question}}</h6>
            <input type="text" name="answer" class="form-control" placeholder="Enter The Answer">
            <br>
            <button type="submit" class="btn btn-outline-danger">Submit</button>
        
        </form>
    </div>
    <div>
        <h1>All Answers</h1>
        {% for a in discussion %}
        <div class="card" style="padding: 10px;width: 600px;margin-bottom: 10px;">
            <div style="display: flex;justify-content: space-between;">
            <p>{{a.answer}}</p>
            <button class="btn btn-outline-warning" style="width: 80px;"><a href="/delete_answer/{{a.id}}/" style="text-decoration: none;">Delete</a></button>
        </div>
            <label> Answered by {{a.author}} | {{a.timestamp}} | Upvotes:{{a.upvotes}}</label>
            <button class="btn btn-outline-info" style="width: 100px;"><a href="/upvote/{{a.id}}/" style="text-decoration: none;">Upvote</a></button>
        </div>
        {% endfor %}
    </div>
{% endblock %}