{% extends 'base.html' %}

{% block body %}
<div class="container" style="display: flex;">
<div style="width: 600px;margin-right: 20px;">
    <h1>Questions:</h1>
    <div  style="padding:10px">
    {% for q in question %}
        <div class="card" style="padding: 10px; margin-bottom: 10px;">
            <div style="display: flex; justify-content: space-between;">
            <h6>{{q.question}}</h6>
            <button class="btn btn-outline-info" style="width: 80px;"><a href="/delete_question/{{q.id}}/" style="text-decoration: none;">Delete</a></button>
            </div>
            <p>Posted by {{q.author}} | {{q.timestamp}}</p>
            <button class="btn btn-outline-warning" style="width: 100px;"><a href="/discussion/{{q.id}}/" style="text-decoration: none;">Answer</a></button><br>
        </div>
    {% endfor %}
    </div>
    
</div style="width:300px;">
<div>
    <h1>Post Your Question</h1>
    <form action="/questions/" method="post" class="form-group">
        {% csrf_token %}
        <input type="text" name="question" class="form-control" placeholder="Enter your question" style="width: 400px;">
        <br>
        <button type="submit" class="btn btn-outline-danger">Submit</button>
    </form>
</div>
</div>
{% endblock %}